*.bin filter=lfs diff=lfs merge=lfs -text
core/predictors/distilbert/pytorch_distilbert.bin filter=lfs diff=lfs merge=lfs -text
core/predictors/glove/glove_model.bin filter=lfs diff=lfs merge=lfs -text
